---
---

@import "{{ site.theme }}";

p.copyright {
  text-align: center;
}

#project_title a, #project_title a:visited {
  text-decoration: none;
  color: white;
}

img {
  max-width: 640px;
}

h2 {
  background: none;
}
